@import 'variables';
@import '~bootstrap/scss/bootstrap';
// @import '~sweetalert2/src/sweetalert2';

@import 'elements/card';
@import 'elements/navbar';
@import 'elements/buttons';
@import 'elements/transitions';

.link {
    color: gray;
    text-decoration: none;
    display: block !important;
}
.link-white {
    color: white;
    text-decoration: none;
    display: block !important;
}
.link-white:hover {
    text-decoration: none !important;
}
.link:hover {
    color: black !important;
    text-decoration: none !important;
}
.famb {
    margin-bottom: 2%;
}
body {
    background-color: #222 !important;
}
.el-table .cell {
    text-align: center !important;
  }
::placeholder {
    color: black !important;
    opacity: 0.8;
}


body  {
    background: url("https://wallpaperaccess.com/full/105689.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }